
<div class="row" id="header" style="border-bottom: 6px solid #fff;">
    <div class="col-lg-10">
     <h3> Thème: {{level.themeName}} - Niveau {{level.difficulty}}</h3>
    </div>
    <div class="col-lg-1">
      <div id="time">
        {{counter}}s
      </div> 
    </div>
  </div>
   <div class="row">
    <div class="col-lg-7">
     
        <h4 style="font-family: math;
        color: #fa315c;"> Allez "zaineb" !</h4>
     
    </div>
    <div class="col-lg-4">
      <h5 style="margin-top: 26px; color: #fa3577; font-size: 172%; font-family: cursive;"> Cochez la bon réponse!</h5>
    </div>
  </div>
  
   <div style="padding: 20px;" *ngFor="let q of questions">
     <div class="card" id="quizz" style="width: 56rem;">
       <h4 style="font-size: 166%;
       line-height: 113%;
       margin: 1.52rem 0 .912rem 0;"> {{q.question}} </h4>
      <mat-radio-group aria-label="Select an option" (change)="setResponses($event)" >
        <mat-radio-button [value]="q.response1" > <p style="color: #fff;font-size: 17px;">{{q.response1}} </p></mat-radio-button> <br>
        <mat-radio-button [value]="q.response2"><p style="color: #fff;font-size: 17px;"> {{q.response2}}</p></mat-radio-button> <br>
        <mat-radio-button [value]="q.response3"> <p style="color: #fff;font-size: 17px;">{{q.response3}}</p></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div style="text-align: center;">
    <button class="btn btn-danger" [disabled]="btnDisabled" style="background: #27104e; border: 0; margin-top: 10px;"
      (click)="openResult(level.themeName, level.difficulty)">
      Valider le quizz
     </button>
      <br><br>
     </div>
  
