
 <br>
 <div class="ro">  
   <div class="row">   
   <div class="col s14 offset-s1">
     <div class="card">
       <div class="col s11">
         <h4 style="font-family: cursive;
         color: #fb3071;"><img src="/assets/img/logo.png" style="width:150px;height:100px;" class="offset-s3">
            Quizz-APP           
         </h4>
       </div>
      
       <div class="card-content">

        <form  #loginform="ngForm" (ngSubmit)="loginUser()">
         <small >{{msg}}</small>

           <div class="row">
              <div class="input-field col s10">
                <i class="material-icons prefix">mail_outline</i>
               <input type="email"   name="email" [(ngModel)]="user.emailid" required [pattern]="emailPattern" >            
               <label >Email</label>
              </div>

           </div>

            <div class="row">         
               <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                 <input type="password" class="form-control"  name="pwd" [(ngModel)]="user.password" required >
                 <label>Mot de passe </label>
               </div>

           </div>

           <div class="row">

              <div class="input-field col s10" style="color: #26a69a;">
              <button class="btn-large btn-submit" type="submit" [disabled]="!loginform.valid" >Valider</button>        
              <a class="waves-effect waves-light btn-large" style="margin: 0% 0% 0% 29%;" routerLink="/inscription">nouvel utilisateur? Inscrivez-vous ici</a>
              </div>
            </div>
      </form>
   </div>
</div>
</div>
</div>
</div>
      

