
.row .col.offset-s1 {
    margin-left: 19.333333%;
    margin-right: 23%;
    margin-top: -1%;
    margin-bottom: -3%;
}
h2 {
    font-size: 325%;
    padding-left: 8%;}

    input-field.col.s10 {
        padding-right: 20%;} 

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;

}